<launch>
    <include file="$(find mavros)/launch/apm2.launch" />
    <include file="$(find video_stream_opencv)/launch/camera.launch" />
    <include file="$(find video_stream_opencv)/launch/webcam.launch" />

    <node name="robot" pkg="robosub" type="data_collection_node.py" required="true" output="screen" />
</launch>
